*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    display:inline-block;
    font-size: 40px;
}

h2{
    margin-bottom: 10px;
    font-size: 25px;
}

.v_align{
    vertical-align: middle;
}


.main_container{
    width:1000px;
    margin: 60px auto 3px;
    background-color: white;
    padding: 20px 80px;
}

.container_head{
    height: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container_body{
    height: 650px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0;
    padding-top: 50px;

}


.page_button{
    width: 100px;
    height: 35px;
    border:0;
    border-radius: 5px;
    font-weight: bold;
    
}


.list_title{
    font-weight: bold;
    font-size: 20px;
    color:rgb(82, 82, 82);
    list-style-type: none;
    margin-bottom: 20px;
}

.list_subtitle{
    font-weight:normal;
    list-style-type: none;
    padding-left: 7px;
    margin-bottom: 20px;
}

.list_status{
    font-size: small;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
}

.list_type{
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    color:white;
}

.status_complete{
    border-color:green;
    color:green;

}

.status_incomplete{
    border-color:red;
    color:red;

}

.type_editorial{
    background-color:rgb(23, 185, 235);
}

.type_q1goals{
    background-color:slateblue;
}

.type_recruiting{
    background-color:mediumseagreen
}

.type_mobile{
    background-color:darkorange;
}

.type_website{
    background-color:fuchsia;
}

.type_sales{
    background-color:olive;
}


#page_background{
    background-color: rgb(243, 243, 243);
    height: 1000px;
}

#add_task{
    background-color:rgb(23, 185, 235);
    color: white;

}

#add_section{
    background-color: white;
    color:lightgray;
    border: 1px solid lightgray;

}

#header_container{
    padding-left: 20px;
    padding-top: 20px;
    background-color: white;
    padding-bottom: 10px;
}
